.image-compress-wrapper,
.image-compress-wrapper .drop,
.image-compress-wrapper .progress {
  margin: 0.6em 0;
}

.image-compress-wrapper .messages {
  margin: 0.6em 1em;
}

.image-compress-wrapper .drop {
  display: table;
  box-sizing: border-box;
  width: 100%;
  border: 1px dashed #ccc;
  height: 4em;
}

.image-compress-wrapper .item-list ul {
  padding: 0 1em;
}

.image-compress-wrapper .item-list ul li {
  list-style: none outside none;
  margin: 0.2em 0;
  padding: 0;
}

.image-compress-wrapper a.remove {
  margin-right: 0.3em;
  text-decoration: none !important;
}

.image-compress-wrapper .drop-message {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0 1em;
  color: #bbb;
  cursor: default;
}

.image-compress-wrapper .file-list + .drop-message {
  display: none;
}

.image-compress-wrapper a.button {
  display: inline-block;
  margin: 0 0.6em 0.6em 0;
}

.image-compress-wrapper a.button.disabled {
  color: #ccc;
  cursor: default;
}
